
<div class="todo">
    <mat-card class="login-card">
        <img src="favicon.ico" class="login-logo" alt="CapitalHub logo">
        <h1>Iniciar Sesión</h1>

        <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <mat-form-field appearance="fill" class="full-width">
            <mat-label>Email</mat-label>
            <input matInput type="email" formControlName="email" />
            <mat-error *ngIf="loginForm.get('email')?.hasError('required')">
            El email es obligatorio
            </mat-error>
            <mat-error *ngIf="loginForm.get('email')?.hasError('email')">
            Formato de email inválido
            </mat-error>
            <mat-error *ngIf="loginForm.get('email')?.hasError('serverError')">
            {{ loginForm.get('email')?.getError('serverError') }}
            </mat-error>
        </mat-form-field>

        <mat-form-field appearance="fill" class="full-width">
            <mat-label>Contraseña</mat-label>
            <input matInput type="password" formControlName="password" />
            <mat-error *ngIf="loginForm.get('password')?.hasError('required')">
            La contraseña es obligatoria
            </mat-error>
            <mat-error *ngIf="loginForm.get('password')?.hasError('serverError')">
            {{ loginForm.get('password')?.getError('serverError') }}
            </mat-error>
        </mat-form-field>

        <mat-checkbox formControlName="rememberMe">Recordarme</mat-checkbox>

        <button mat-raised-button color="primary" class="full-width" type="submit"
                [disabled]="loginForm.invalid || loading">
            Entrar
        </button>
        <button mat-raised-button color="accent" class="full-width" type="button"
                (click)="goToRegister()" [disabled]="loading">
            ¿Nuevo? Regístrate
        </button>
        </form>

        <div id="googleSignInButton" class="google-btn"></div>

        <a class="forgot-password" (click)="forgotPassword()" [class.disabled]="loading">
        ¿Olvidaste tu contraseña?
        </a>
    </mat-card>

    <div class="terminal-loader" *ngIf="loading">
        <div class="terminal-header">
            <div class="terminal-title">Status</div>
            <div class="terminal-controls">
            <div class="control close"></div>
            <div class="control minimize"></div>
            <div class="control maximize"></div>
            </div>
        </div>
        <div class="text">Loading...</div>
    </div>
</div>
