:host {
  display: flex;
  flex-direction: column;
  height: 100vh;
    background-color: #1d1c1c;
}

.layout {
  flex: 1;
  display: flex;
  overflow: hidden;
}

/* ENVUELVE a tu sidebar animado */
.sidebar-container {
  position: relative;
  display: flex;       /* así el toggle va al lado */
  /*overflow: hidden;*/
  flex-shrink: 0;
}

/* Mueve el toggle justo en el borde */
.toggle-btn {
  position: absolute;
  top: 1rem;
  right: -1.5rem;      /* medio fuera del sidebar */
  z-index: 10;
}

/* Contenido principal rellena el resto */
.main-content {
  flex: 1;
  overflow: auto;
}
